/*accordion styles*/
.main {
    padding: 80px 0 0 0;
}
#accordion{
    padding: 0;
}

.accordion-item {
    list-style: none;
}

.title {
    position: relative;
    padding-left: 15px;
    margin-top: 0;
    background: lightblue;
    line-height: 2;
}

.title::before, 
.title::after {
    position: absolute;
    right: 15px;
    display: block;
    content: '';
    width: 10px;
    height: 2px;
    background: #235e71;
}

.title::before {
    top: 17px;
    right: 25px;
    transform: rotate(45deg);
    transition: all ease 0.35s;
}

.title::after {
    bottom: 17px;
    right: 19px;
    transform: rotate(-45deg);
    transition: all ease 0.35s;
}


.title.active {
    margin-bottom: 0;
}

.title.active::before {
    top:18px;
    right: 16px;
    transform: rotate(45deg);

}
.title.active::after {
    bottom: 16px;
    right: 22px;
    transform: rotate(-45deg);
}


.title + p {
    display: none;
    padding: 15px;
    background: #e9f5f8;
}

.title.active + p {
    display: block;
}


input[type=text]{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

input:checked + a {
    background: pink;
}

.sort-panel{
    margin-bottom: 20px;
}



