/*accordion styles*/
#accordion{
    padding: 0;
}

.accordion-item {
    list-style: none;
}

.title-wrapper + .description {
    display: none;
}

.title-wrapper.active + .description {
    display: block;
}
input {
    float: left;
}

.accordion-item {
    display: block;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid gray;
}

.title {
    display: block;
    margin-left: 30px;
}

input[type=text]{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

input:checked + a {
    background: pink;
}

.sort-panel{
    margin-bottom: 20px;
}
